* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
}
header {
    height: 150px;
}
.logo {
    padding-left: 150px;
    margin-top: 17px;
    font-size: 23px;
    color: #F9FAF8;
}
ul {
    text-align: right;
    margin-top: -24px;
    padding-right: 185px;
}
li, a{
    display: inline;
    text-decoration: none;
    font-size: 17px;
    padding: 4px;
    font-family: 'Varela Round', sans-serif;
    color: #c9c9c9;
}
.main-text {
    font-size: 48px;
    color: #F9FAF8;
    padding: 0px 0px 0px 150px;
    float: left;
    width: 484px;
    margin: 0;
}
p,.para1 {
    color: #c9c9c9;
    width: 470px;
    padding-left: 152px;
    height: 188px;
    font-size: 18px;
}
.box {
    background-color: #6d747d;
    width: 522px;
    height: 125px;
    float: right;
    margin: -125px 170px;
    text-align: center;
    color: #e4e4e4;
    padding-top: 114px;
}
.input1 {
    padding: 12px 36px 11px 30px;
    margin-left: 150px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 14px;
    background-color: #3882F6;
    color: #E5E7EB;
    border: 0px;
}
.form1 {
    height: 175px;
}
.sec1 {
    height: 500px;
    background-color: #ffffff;
}
.sec1h1 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    padding-top: 40px;
}
.boxes {
    display: flex;
    justify-content: center;
}
.box1,.box2,.box3,.box4 {
    width: 160px;
    height: 160px;
    background-color: #ffffff;
    margin: 25px;
    text-align: end;
    border: 4px solid #3b82f6;
    border-radius: 15px;
}
div span {
    display: inline-block;
    margin-top: 170px;
    text-align: center;
    color: #6d7580;
}
.sec2 {
    height: 400px;
    background-color: #e5e7eb;
}
.sec2 h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #414954;
    font-style: italic;
    font-weight: normal;
    text-align: left;
    width: 815px;
    padding-left: 307px;
    padding-top: 125px;
    font-size: 36px;
}
.sec2 h3 {
    text-align: right;
    padding-right: 240px;
    font-size: 25px;
    color: #1f2937;
}
.sec3 {
    height: 250px;
    background-color: #ffffff;
    padding-top: 99px;
    padding-left: 204px;
}
.finborder {
    background-color: #3b82f6;
    height: 146px;
    width: 1022px;
    border-radius: 10px;
}
.input2 {
    padding: 12px 36px 11px 30px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 14px;
    background-color: #3b82f6;
    color: #E5E7EB;
    border: 2px solid;
    float: right;
    margin-right: 126px;
    margin-top: -50px;
}
.form2 {
    margin: 1px;
}
footer {
    height: 100px;
}
footer h6 {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    font-weight: 100;
    padding-top: 40px;
}